{% extends 'base.html.twig' %}

{% block title %}DetectionDrone{% endblock %}

{% block body %}
    <h1>DetectionDrone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_detection</th>
                <td>{{ detection_drone.idDetection }}</td>
            </tr>
            <tr>
                <th>Id_mission</th>
                <td>{{ detection_drone.idMission }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ detection_drone.espece }}</td>
            </tr>
            <tr>
                <th>Nombre_individus</th>
                <td>{{ detection_drone.nombreIndividus }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ detection_drone.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ detection_drone.longitude }}</td>
            </tr>
            <tr>
                <th>Comportement</th>
                <td>{{ detection_drone.comportement }}</td>
            </tr>
            <tr>
                <th>Confiance_ia</th>
                <td>{{ detection_drone.confianceIa }}</td>
            </tr>
            <tr>
                <th>Image_path</th>
                <td>{{ detection_drone.imagePath }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ detection_drone.timestamp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_detection_drone_index') }}">back to list</a>

    <a href="{{ path('app_detection_drone_edit', {'id_detection': detection_drone.id_detection}) }}">edit</a>

    {{ include('detection_drone/_delete_form.html.twig') }}
{% endblock %}
