{{ form_start(form) }}
    <div class="form-grid">
        <div class="form-group-settings">
            {{ form_label(form.nomZone, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nomZone, {'attr': {'class': 'form-input', 'placeholder': 'Ex. Zone Kuriat Nord'}}) }}
            {{ form_errors(form.nomZone) }}
        </div>

        <div class="form-group-settings">
            {{ form_label(form.categorieZone, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.categorieZone, {'attr': {'class': 'form-input', 'placeholder': 'Ex. Protection'}}) }}
            {{ form_errors(form.categorieZone) }}
        </div>

        <div class="form-group-settings full-width">
            {{ form_label(form.status, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.status, {'attr': {'class': 'form-input', 'placeholder': 'Actif, En surveillance, etc.'}}) }}
            {{ form_errors(form.status) }}
        </div>
    </div>

    <div class="btn-group">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_zonep_index') }}" class="btn btn-secondary">back to list</a>
    </div>

    {{ form_rest(form) }}
{{ form_end(form) }}
