{% extends 'base.html.twig' %}

{% block title %}Zonep{% endblock %}

{% block body %}
    <h1>Zonep</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdZone</th>
                <td>{{ zonep.idZone }}</td>
            </tr>
            <tr>
                <th>NomZone</th>
                <td>{{ zonep.nomZone }}</td>
            </tr>
            <tr>
                <th>CategorieZone</th>
                <td>{{ zonep.categorieZone }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ zonep.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_zonep_index') }}">back to list</a>

    <a href="{{ path('app_zonep_edit', {'idZone': zonep.idZone}) }}">edit</a>

    {{ include('zonep/_delete_form.html.twig') }}
{% endblock %}
