{{ form_start(form) }}
    <div class="form-grid">
        <div class="form-group-settings">
            {{ form_label(form.date_mission, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.date_mission, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.date_mission) }}
        </div>

        <div class="form-group-settings">
            {{ form_label(form.heure_debut, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.heure_debut, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.heure_debut) }}
        </div>

        <div class="form-group-settings">
            {{ form_label(form.heure_fin, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.heure_fin, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.heure_fin) }}
        </div>

        <div class="form-group-settings">
            {{ form_label(form.zone_survolee, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.zone_survolee, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.zone_survolee) }}
        </div>

        <div class="form-group-settings">
            {{ form_label(form.distance_parcourue, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.distance_parcourue, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.distance_parcourue) }}
        </div>

        <div class="form-group-settings">
            {{ form_label(form.altitude_vol, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.altitude_vol, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.altitude_vol) }}
        </div>

        <div class="form-group-settings full-width">
            {{ form_label(form.conditions_vol, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.conditions_vol, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.conditions_vol) }}
        </div>

        <div class="form-group-settings full-width">
            {{ form_label(form.observations, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.observations, {'attr': {'class': 'form-input', 'rows': 5}}) }}
            {{ form_errors(form.observations) }}
        </div>
    </div>

    <div class="btn-group">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_mission_drone_index') }}" class="btn btn-secondary">back to list</a>
    </div>

    {{ form_rest(form) }}
{{ form_end(form) }}
