{% extends 'base.html.twig' %}

{% block title %}MissionDrone index{% endblock %}

{% block body %}
    <h1>MissionDrone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_mission</th>
                <th>Date_mission</th>
                <th>Heure_debut</th>
                <th>Heure_fin</th>
                <th>Zone_survolee</th>
                <th>Distance_parcourue</th>
                <th>Altitude_vol</th>
                <th>Conditions_vol</th>
                <th>Observations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission_drone in mission_drones %}
            <tr>
                <td>{{ mission_drone.idMission }}</td>
                <td>{{ mission_drone.dateMission ? mission_drone.dateMission|date('Y-m-d') : '' }}</td>
                <td>{{ mission_drone.heureDebut ? mission_drone.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ mission_drone.heureFin ? mission_drone.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ mission_drone.zoneSurvolee }}</td>
                <td>{{ mission_drone.distanceParcourue }}</td>
                <td>{{ mission_drone.altitudeVol }}</td>
                <td>{{ mission_drone.conditionsVol }}</td>
                <td>{{ mission_drone.observations }}</td>
                <td>
                    <a href="{{ path('app_mission_drone_show', {'id_mission': mission_drone.id_mission}) }}">show</a>
                    <a href="{{ path('app_mission_drone_edit', {'id_mission': mission_drone.id_mission}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mission_drone_new') }}">Create new</a>
{% endblock %}
