{% extends 'base.html.twig' %}

{% block title %}MissionDrone{% endblock %}

{% block body %}
    <h1>MissionDrone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_mission</th>
                <td>{{ mission_drone.idMission }}</td>
            </tr>
            <tr>
                <th>Date_mission</th>
                <td>{{ mission_drone.dateMission ? mission_drone.dateMission|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure_debut</th>
                <td>{{ mission_drone.heureDebut ? mission_drone.heureDebut|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure_fin</th>
                <td>{{ mission_drone.heureFin ? mission_drone.heureFin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Zone_survolee</th>
                <td>{{ mission_drone.zoneSurvolee }}</td>
            </tr>
            <tr>
                <th>Distance_parcourue</th>
                <td>{{ mission_drone.distanceParcourue }}</td>
            </tr>
            <tr>
                <th>Altitude_vol</th>
                <td>{{ mission_drone.altitudeVol }}</td>
            </tr>
            <tr>
                <th>Conditions_vol</th>
                <td>{{ mission_drone.conditionsVol }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ mission_drone.observations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mission_drone_index') }}">back to list</a>

    <a href="{{ path('app_mission_drone_edit', {'id_mission': mission_drone.id_mission}) }}">edit</a>

    {{ include('mission_drone/_delete_form.html.twig') }}
{% endblock %}
