{{ form_start(form) }}
    <div class="form-grid">
        <div class="form-group-settings">
            {{ form_label(form.dateSurv, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.dateSurv, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.dateSurv) }}
        </div>

        <div class="form-group-settings">
            {{ form_label(form.zone, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.zone, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.zone) }}
        </div>

        <div class="form-group-settings full-width">
            {{ form_label(form.observation, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.observation, {'attr': {'class': 'form-input', 'rows': 5, 'placeholder': 'Details de la surveillance'}}) }}
            {{ form_errors(form.observation) }}
        </div>
    </div>

    <div class="btn-group">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_survzone_index') }}" class="btn btn-secondary">back to list</a>
    </div>

    {{ form_rest(form) }}
{{ form_end(form) }}