{% extends 'base.html.twig' %}

{% block title %}Survzone{% endblock %}

{% block body %}
    <h1>Survzone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSurv</th>
                <td>{{ survzone.idSurv }}</td>
            </tr>
            <tr>
                <th>DateSurv</th>
                <td>{{ survzone.dateSurv ? survzone.dateSurv|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ survzone.observation }}</td>
            </tr>
            <tr>
                <th>IdZone</th>
                <td>{{ survzone.idZone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_survzone_index') }}">back to list</a>

    <a href="{{ path('app_survzone_edit', {'idSurv': survzone.idSurv}) }}">edit</a>

    {{ include('survzone/_delete_form.html.twig') }}
{% endblock %}
