{{ form_start(form) }}
    <div class="form-grid">
        <div class="form-group-settings">
            {{ form_label(form.date_action, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.date_action, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.date_action) }}
        </div>

        <div class="form-group-settings">
            {{ form_label(form.lieu, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.lieu, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.lieu) }}
        </div>
    </div>

    <div class="btn-group">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_action_nettoyage_index') }}" class="btn btn-secondary">back to list</a>
    </div>

    {{ form_rest(form) }}
{{ form_end(form) }}
