{% extends 'base.html.twig' %}

{% block title %}ActionNettoyage{% endblock %}

{% block body %}
    <h1>ActionNettoyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_action</th>
                <td>{{ action_nettoyage.idAction }}</td>
            </tr>
            <tr>
                <th>Date_action</th>
                <td>{{ action_nettoyage.dateAction }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ action_nettoyage.lieu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_action_nettoyage_index') }}">back to list</a>

    <a href="{{ path('app_action_nettoyage_edit', {'id_action': action_nettoyage.id_action}) }}">edit</a>

    {{ include('action_nettoyage/_delete_form.html.twig') }}
{% endblock %}
