{% extends 'base.html.twig' %}

{% block title %}ActiviteEcologique{% endblock %}

{% block body %}
    <h1>ActiviteEcologique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_activite</th>
                <td>{{ activite_ecologique.idActivite }}</td>
            </tr>
            <tr>
                <th>Nom_activite</th>
                <td>{{ activite_ecologique.nomActivite }}</td>
            </tr>
            <tr>
                <th>Date_activite</th>
                <td>{{ activite_ecologique.dateActivite ? activite_ecologique.dateActivite|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ activite_ecologique.capacite }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activite_ecologique.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_activite_ecologique_index') }}">back to list</a>

    <a href="{{ path('app_activite_ecologique_edit', {'id_activite': activite_ecologique.id_activite}) }}">edit</a>

    {{ include('activite_ecologique/_delete_form.html.twig') }}
{% endblock %}
