{% extends 'base.html.twig' %}

{% block title %}Dechet{% endblock %}

{% block body %}
    <h1>Dechet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_dechet</th>
                <td>{{ dechet.idDechet }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ dechet.type }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ dechet.quantite }}</td>
            </tr>
            <tr>
                <th>Zone</th>
                <td>{{ dechet.zone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dechet_index') }}">back to list</a>

    <a href="{{ path('app_dechet_edit', {'id_dechet': dechet.id_dechet}) }}">edit</a>

    {{ include('dechet/_delete_form.html.twig') }}
{% endblock %}
