{% extends 'base.html.twig' %}

{% block title %}ZonePlage{% endblock %}

{% block body %}
    <h1>ZonePlage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_zone</th>
                <td>{{ zone_plage.idZone }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ zone_plage.nom }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ zone_plage.localisation }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ zone_plage.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_zone_plage_index') }}">back to list</a>

    <a href="{{ path('app_zone_plage_edit', {'id_zone': zone_plage.id_zone}) }}">edit</a>

    {{ include('zone_plage/_delete_form.html.twig') }}
{% endblock %}
