{% extends 'base.html.twig' %}

{% block title %}FauneMarine{% endblock %}

{% block body %}
    <section class="glass-card">
        <div class="card-header">
            <div>
                <h2 class="card-title">Faune #{{ faune_marine.idAnimal }}</h2>
                <p class="card-subtitle">Details de l espece marine.</p>
            </div>
        </div>

        <div class="table-wrapper">
            <table class="data-table">
                <tbody>
                    <tr><th>Id</th><td>{{ faune_marine.idAnimal }}</td></tr>
                    <tr><th>Espece</th><td>{{ faune_marine.espece }}</td></tr>
                    <tr><th>Etat</th><td>{{ faune_marine.etat }}</td></tr>
                    <tr><th>Description</th><td>{{ faune_marine.description }}</td></tr>
                </tbody>
            </table>
        </div>

        <div class="btn-group">
            <a href="{{ path('app_faune_marine_index') }}" class="btn btn-secondary">back to list</a>
            <a href="{{ path('app_faune_marine_edit', {'id_animal': faune_marine.id_animal}) }}" class="btn btn-primary">edit</a>
            {{ include('faune_marine/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
